.navbar .container img{
    height: 40px;
    padding-bottom: 6px;
}
.mr{
    margin-left: 200px;
}


/* carousel section start */
.section{
    height: 550px;
    background-color: #78853F;
}
.section .carousel-item img{
    padding: 30px 60px;
    height: 630px;
}
.content{
    margin-left: 80px;
}
.bg-w{
    background-color: white;
    margin-left: 6px;
}
.bg-y{
    background-color: yellow;
}
.bg-w, .bg-y{
    height: 35px;
    width: 120px;
    border: none;
}
.section .content h4{
    color: yellow;
}
.section .cerousel-caption, h1{
font-weight: bold;
}
.section .cerousel-caption, p{
    font-size: smaller;
}
.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
/* carousel section end */


/* banner section start*/
.col-row{
    display: flex;
    padding: 120px 120px 60px 120px;
}
.row{
    display: flex;
}
.col-row .mt-4{
    gap: 20px;
}
/* banner section end*/


/* bg-img section start */
.bg-img{
    display: flex;
}

.bg-img .text{
    background-color: #F7F7F7;
    padding-top: 130px;
}
.bg-img .text button{
    border: none;
    background-color: yellow;
    height: 40px;
    width: 130px;
}
/* bg-img section start */


/**  **/

/**  **/
