body{
    overflow-x: hidden;
}
*{
    font-family: 'Poppins', sans-serif;
}
.font-size{
    font-size: 50px;
    font-weight: 700;
}
.size{
    font-size: 30px;
    margin-top: 30px;
}
.gap-50{
    gap: 50px;
}
.color-gray{
    color: #777;
}
.mt-50{
    margin-top: 10%;
}
.my-30{
    margin: 30px 0;
}
.navbar-top{
    display: block;
    background-image: url('https://images.pexels.com/photos/1384901/pexels-photo-1384901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
}

/*About Section*/
.about{
    
    padding-left: 300px !important;
    margin-top: 30px;
}
.about-content{
    width: 300px;
}
.description{
    font-size: 14px;
    color: #777;
}
@media (min-width: 1024px) {
    .heading{
        font-size: 50px;
    }
}
@media (max-width: 1023px) {
    .heading{
        font-size: 30px;
    }
    .about{
    
        padding-left: 10px !important;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 575px) {
    .services{
       flex-direction: column;
       align-items: center;
     
    }
}

/*card*/
.services{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card img{
    width: 80px;
    margin: 10px auto;
    
}

/** Banner Shape **/
.width-300{
    width: 300px;
}
.height-300{
    height: 120px;
}

.form-div{
   display: flex;

    padding: 10px 120px;
}

.sm-device{
    display: flex;
}
@media (max-width: 575px) {
    .sm-device{

        flex-direction: column;
        align-items: center;
    }
    .form-div{
        flex-direction: column;
     padding: 10px;
         
     }
}
/** ### **/
.about img{
    height: 300px;
    width: 280px;
    border-radius: 25%;
}
.talk{
    margin-left: 276px;
    margin-top: 10px;
}
.bg-aqua{
    align-items: center;
}
.fl-r{
    float: right;
}
/* footer section start */
footer{
    position: relative;
    width: 100%;
    background: rgb(33, 38, 1);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social-icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social-icon li, footer .menu li{
    list-style: none;
}
footer .social-icon li a,  footer .menu li a{
    font-size: 2em;
    color: #D4D4D4;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.5em;
    color: #D4D4D4;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer h6{
    color: aliceblue;
}

/* footer section end */

/** ### **/
