.image{
    background-image: url(https://images.pexels.com/photos/221471/pexels-photo-221471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    height: 600px;

    background-repeat: no-repeat;   
}
.navbar-top .mt-50{
    margin-top: 150px;
    display: block;
}

/** about section start **/
.about{
    
    padding-left: 300px !important;
    margin-top: 30px;
}
.about-content{
    width: 300px;
}
.description{
    font-size: 14px;
    color: #777;
}
.about img{
    height: 300px;
    width: 280px;
    border-radius: 25%;
}
@media (min-width: 1024px) {
    .heading{
        font-size: 50px;
    }
}
@media (max-width: 1023px) {
    .heading{
        font-size: 30px;
    }
    .about{
    
        padding-left: 10px !important;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 575px) {
    .services{
       flex-direction: column;
       align-items: center;
     
    }
}
/** about section end **/

/** card section start **/
.services{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.card img{
    width: 80px;
    margin: 10px auto;
    
}
/** card section end **/

/** form section start **/
.width-300{
    width: 300px;
}
.height-300{
    height: 120px;
}

.form-div{
   display: flex;

    padding: 10px 120px;
}
.talk{
    margin-left: -100px;
    margin-top: 10px;
}
.form-div{
   
    padding-left: 40px;
    padding-right: 150px;
}
.ml-20{
    padding-left: 250px;
}
.sm-device{
    display: flex;
    
}
@media (max-width: 575px) {
    .sm-device{

        flex-direction: column;
        align-items: center;
    }
    .form-div{
        flex-direction: column;
     padding: 10px;
         
     }
}
/** form section end **/

/* footer section start */
footer{
    position: relative;
    width: 100%;
    background: rgb(33, 38, 1);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social-icon, footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social-icon li, footer .menu li{
    list-style: none;
}
footer .social-icon li a,  footer .menu li a{
    font-size: 2em;
    color: #D4D4D4;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social-icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a{
    font-size: 1.5em;
    color: #D4D4D4;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer h6{
    color: aliceblue;
    text-decoration-line: underline;
}
/* footer section end */
